@import "tailwindcss";
html, body{
  margin:0;
  padding:0;
  font-family:"space Grotesk", sans-serif;
  background-color:#0a0a0a;
  color:white;
}

@layer utilities {
   @keyframes blinl{
    0% , 100%{
      opacity:1;
    }
  50%{
    opacity:0;
  }
}
}
.animate-loading-bar{
  animation: loading 1.5s ease infinite;
}
.animate-blink{
  animation: loading 1.5s ease infinite;
}
@keyframes loading{
  0%{
    transform:translateX(-100%);
  }
  100%{
    transform:translateX(100%);
  }
}
.reveal{
  opacity:0;
  transform:translateY(20px);
  transition:opacity 0.7s ease, transform 0.7s ease;

}
.reveal.visible{
  opacity:1;
  transform:translateY(0);
}